{% extends "base.html" %}
{% load custom_filters %}
{% block content %}
    <h1>Upload Successful!</h1>
    <p>Your data has been successfully uploaded, {{ user.username }}.</p>

    <h2>Data:</h2>
    <ul>
        {% for item in model %}
            {% if item.name == user.username %}
            <h1>Team: {{item.dept}}</h1>
            <h1> Hi, {{item.name}} you are Using {{item.model}} {{item.processor}} which has {{item.ssd}} OS Drive, {{item.hdd}} Storage {{item.ram}} of Ram <h1>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock content %}
